{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block sonata_head_title %}
    {% set text = parent() | trim | split(' ', 2) %}

    {% spaceless %}
        {% if text[1] is defined and text[0] is defined %}
            {{ text[1] | raw }} &mdash; {{ text[0] | raw }}
        {% else %}
            {{ text[0] | raw }}
        {% endif %}
    {% endspaceless %}

{% endblock %}

{% block body_attributes %}class="sonata-bc skin-black fixed"{% endblock %}

{% block stylesheets %}
    {% for stylesheet in sonata_admin.adminPool.getOption('stylesheets', []) %}
        <link rel="stylesheet" href="{{ asset(stylesheet, 'backend') }}">
    {% endfor %}
{% endblock %}

{% block sonata_javascript_pool %}
    {% for javascript in sonata_admin.adminPool.getOption('javascripts', []) %}
        <script src="{{ asset(javascript, 'backend') }}"></script>
    {% endfor %}
{% endblock %}

{% block side_bar_after_nav %}{% endblock %}

{% block sonata_page_content_nav %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">

            {% block tab_menu_navbar_header %}{{ parent() }}{% endblock %}

            <div class="just-header-actions js-just-header-actions">
                {% block sonata_admin_content_actions_wrappers %}
                    {% if _actions|replace({ '<li>': '', '</li>': '' })|trim is not empty %}
                        <ul class="just-header-actions__list add_records">
                            {% if _actions|split('</a>')|length > 2 %}
                                <li class="dropdown sonata-actions">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'link_actions'|trans({}, 'SonataAdminBundle') }} <b class="caret"></b></a>
                                    <ul class="dropdown-menu" role="menu">
                                        {{ _actions|raw }}
                                    </ul>
                                </li>
                            {% else %}
                                {{ _actions|raw }}
                            {% endif %}
                        </ul>
                    {% endif %}
                {% endblock sonata_admin_content_actions_wrappers %}

                {% if _list_filters_actions is not empty and (_list_filters_actions | split('</li>') | length) > 2 %}
                    {{ _list_filters_actions|raw }}
                {% endif %}
            </div>

            {% if _tab_menu is not empty or _actions is not empty or _list_filters_actions is not empty %}
                <div class="navbar-collapse">
                    {% if _tab_menu is not empty %}
                        <div class="navbar-left">
                            {{ _tab_menu|raw }}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </nav>
{% endblock sonata_page_content_nav %}
